# =============================================================================
# REDIS - CONTAINER ENV
# =============================================================================

REDIS_USERNAME=${COMPANY_HIRING_REDIS_USERNAME}
REDIS_PASSWORD=${COMPANY_HIRING_REDIS_PASSWORD}
