# =============================================================================
# AUTH SERVICE CONFIG
# =============================================================================

# -----------------------------------------------------------------------------
# APP
# -----------------------------------------------------------------------------
APP_ENVIRONMENT=${COMPANY_HIRING_AUTH_APP_ENVIRONMENT}
APP_NAME=${COMPANY_HIRING_AUTH_APP_NAME}
APP_VERSION=${COMPANY_HIRING_VERSION}
APP_HOST=${COMPANY_HIRING_AUTH_HOST}
APP_HTTP_PORT=${COMPANY_HIRING_AUTH_HTTP_PORT}
APP_GRPC_PORT=${COMPANY_HIRING_AUTH_GRPC_PORT}
JWT_SECRET=${COMPANY_HIRING_AUTH_JWT_SECRET}

# -----------------------------------------------------------------------------
# POSTGRESQL - WRITE (Commands)
# -----------------------------------------------------------------------------
POSTGRES_WRITE_HOST=${COMPANY_HIRING_POSTGRES_PRIMARY_HOST}
POSTGRES_WRITE_PORT=${COMPANY_HIRING_POSTGRES_PRIMARY_PORT}
POSTGRES_WRITE_USERNAME=${COMPANY_HIRING_POSTGRES_PRIMARY_USERNAME}
POSTGRES_WRITE_PASSWORD=${COMPANY_HIRING_POSTGRES_PRIMARY_PASSWORD}
POSTGRES_WRITE_DATABASE=${COMPANY_HIRING_POSTGRES_DATABASE}

# -----------------------------------------------------------------------------
# POSTGRESQL - READ (Queries)
# -----------------------------------------------------------------------------
POSTGRES_READ_HOST=${COMPANY_HIRING_POSTGRES_REPLICA_HOST}
POSTGRES_READ_PORT=${COMPANY_HIRING_POSTGRES_REPLICA_PORT}
POSTGRES_READ_USERNAME=${COMPANY_HIRING_POSTGRES_REPLICA_USERNAME}
POSTGRES_READ_PASSWORD=${COMPANY_HIRING_POSTGRES_REPLICA_PASSWORD}
POSTGRES_READ_DATABASE=${COMPANY_HIRING_POSTGRES_DATABASE}

# -----------------------------------------------------------------------------
# REDIS
# -----------------------------------------------------------------------------
REDIS_HOST=${COMPANY_HIRING_REDIS_HOST}
REDIS_PORT=${COMPANY_HIRING_REDIS_PORT}
REDIS_USERNAME=${COMPANY_HIRING_REDIS_USERNAME}
REDIS_PASSWORD=${COMPANY_HIRING_REDIS_PASSWORD}
REDIS_AUTH_DB=0
REDIS_RESOURCE_DB=1

# -----------------------------------------------------------------------------
# KAFKA
# -----------------------------------------------------------------------------
KAFKA_HOST=${COMPANY_HIRING_KAFKA_HOST}
KAFKA_PORT=${COMPANY_HIRING_KAFKA_PORT}
KAFKA_USERNAME=${COMPANY_HIRING_KAFKA_USERNAME}
KAFKA_PASSWORD=${COMPANY_HIRING_KAFKA_PASSWORD}