# =============================================================================
# NOTIFICATIONS SERVICE CONFIG
# =============================================================================

# -----------------------------------------------------------------------------
# APP
# -----------------------------------------------------------------------------
APP_VERSION=${COMPANY_HIRING_VERSION}
APP_HOST=${COMPANY_HIRING_NOTIFICATIONS_HOST}
APP_PORT=${COMPANY_HIRING_NOTIFICATIONS_PORT}

# -----------------------------------------------------------------------------
# AUTH (gRPC)
# -----------------------------------------------------------------------------
AUTH_GRPC_HOST=${COMPANY_HIRING_AUTH_GRPC_HOST}
AUTH_GRPC_PORT=${COMPANY_HIRING_AUTH_GRPC_PORT}

# -----------------------------------------------------------------------------
# REDIS
# -----------------------------------------------------------------------------
REDIS_HOST=${COMPANY_HIRING_REDIS_HOST}
REDIS_PORT=${COMPANY_HIRING_REDIS_PORT}
REDIS_USERNAME=${COMPANY_HIRING_REDIS_USERNAME}
REDIS_PASSWORD=${COMPANY_HIRING_REDIS_PASSWORD}
REDIS_AUTH_DB=0
REDIS_RESOURCE_DB=1

# -----------------------------------------------------------------------------
# KAFKA
# -----------------------------------------------------------------------------
KAFKA_HOST=${COMPANY_HIRING_KAFKA_HOST}
KAFKA_PORT=${COMPANY_HIRING_KAFKA_PORT}
